html,
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

* {
	box-sizing: border-box;
}

.wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.colorBox {
	width: 70%;
	height: 90vh;
	background-color: black;
}

#text_section {
	width: 29%;
	height: 90vh;
	background-color: black;
}

.hex-section,
.rgb-section {
	width: 80%;
	height: 5rem;
	font-size: 1.5rem;
	font-weight: bold;
	color: white;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0 0.5rem;
	border-radius: 10px;
	background-color: purple;
}

#button {
	width: 100%;
	height: 10vh;
	font-size: 3rem;
	text-align: center;
	font-weight: bold;
	color: white;
	background-color: purple;
	border: none;
	cursor: pointer;
}

@media only screen and (max-width: 865px) {
	.hex-section,
	.rgb-section {
		justify-content: center;
		width: 100%;
		font-size: 100%;
	}

	#button {
		font-size: 200%;
	}
}

@media only screen and (max-width: 400px) {
	.hex-section,
	.rgb-section {
		font-size: 95%;
	}

	#button {
		font-size: 150%;
	}

	.colorBox {
		width: 60%;
	}

	#text_section {
		width: 39%;
	}
}
