html,
body {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

.wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.colorBox {
	width: 70%;
	height: 95vh;
	background-color: black;
}

#text_section {
	width: 29%;
	height: 95vh;
	background-color: gold;
}

.hex-section,
.rgb-section {
	width: 70%;
	height: 5rem;
	font-size: 1.5rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border: 5px dashed gold;
	padding: 0 0.5rem;
	background-color: green;
}

#button {
}
